<div class="squid-api-export-scheduler-index-view">
    <button class="btn btn-default create-job">create job</button>
    <table>
        <tr>
            <td>Report ID</td>
            <td>Next Execution Day</td>
            <td>Format</td>
        </tr>
        {{#each jobs}}
            <tr class="job-item" data-attr={{_id}}>
                <td>{{_id}}</td>
                <td>{{nextExecutionDate}}</td>
                <td>{{report.format}}</td>
                <td><button class="edit-job">edit</button></td>
                <td><button class="delete-job">delete</button></td>
            </tr>
        {{/each}}
    </table>
</div>
