<ul class="chosen-metrics">
    {{#each chosenMetrics}}
        <li class="item" data-content={{this.value}}>
        	<div class="name">{{this.name}}</div>
        	<span class="value">{{this.total.value}}</span>
        </li>
    {{/each}}
</ul>
