<ul class="widget-selector">
    {{#if TimeSeriesView}}
        <li data-content="TimeSeriesView"><i class="fa fa-line-chart fa-2x"></i></li>
    {{/if}}

    {{#if DataTableView}}
        <li data-content="DataTableView"><i class="fa fa-table fa-2x"></i></li>
    {{/if}}
</div>
