<div class="orderby-container">
	<div class="row-md-12 orderby-widget">
		<div class="col-md-4">
			<div class="onoffswitch">
    			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    			<label class="onoffswitch-label" for="myonoffswitch">
        			<span class="onoffswitch-inner"></span>
       				 <span class="onoffswitch-switch"></span>
    			</label>
			</div>
		</div>
		<div class="col-md-4">
			<select class="sq-select form-control">
            	<option value="10">
                	10
        		</option>
        		<option value="100">
                	100
        		</option>
        		<option value="1000">
                	1000
        		</option> 
			</select>
		</div>
		<div class="col-sm-2">
			<label class="records">Records</label>
		</div>
	</div>
</div>