.squid-api-data-widgets-export-widget {
	padding: 10px 0px 0px 0px;
}

.squid-api-data-widgets-export-widget .download-formats {
	padding-top: 20px;
}

.squid-api-data-widgets-export-widget .btn-default {
	cursor: pointer;
	color: #777;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
}

.squid-api-data-widgets-export-widget .btn-link {
	padding-left: 0px;
}

.squid-api-data-widgets-export-widget .download-label {
	margin-left: 5px;
}

.squid-api-data-widgets-export-widget a {
	cursor: pointer;
}

.squid-api-data-widgets-export-widget .download-formats label {
	margin-right: 10px;
}

.squid-api-data-widgets-export-widget #curl {
	margin-top: 10px;
}
