{{#if noChosenDimensions}}
	<div class="information">No Dimensions have been chosen</div>
{{else}}
<ul class="sortable">
    {{#each chosenDimensions}}
        <li class="item" data-content={{this.id}}><i class="fa fa-ellipsis-v"></i>{{this.value}}</li>
    {{/each}}
</ul>
{{/if}}

