#origin .dropdownDisabled {
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	opacity: 0.5;
	background: #ffffff;
}

.squid-api-data-widgets-dimension-selector ul li.disabled {
	text-decoration: line-through;
}
