/* Don't display disabled elements */
div.dataTables_paginate ul.pagination li.disabled {
	display: none;
}

.dataTable thead th.NUMBER {
	cursor: pointer;
}

.dataTable .NUMBER {
    text-align: right;
}
