<div class="squid-api-data-widgets-dimension-widget">
{{#if noChosenDimensions}}
	<div class="information">{{noDataMessage}}</div>
{{else}}
<ul class="sortable">
    {{#each chosenDimensions}}
        <li class="item" data-content="{{this.id}}"><i class="fa fa-ellipsis-v"></i>{{this.value}}</li>
    {{/each}}
</ul>
{{/if}}
</div>


