<div class="orderby-container">
	{{#if limit}}
		<div class="pull-right">
			<table>
				<tr>
					<td>
						<div class="onoffswitch">
			    			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{direction}}>
			    			<label class="onoffswitch-label" for="myonoffswitch">
			        			<span class="onoffswitch-inner"></span>
			       				 <span class="onoffswitch-switch"></span>
			    			</label>
						</div>
					</td>
					<td>
						&nbsp;
						<span style="font-size : x-large;">{{limit}}</span> <label class="records">Records</label>
					</td>
				</tr>
			</table>
		</div>
	{{/if}}
</div>