{{#if selAvailable}}
    <select class="sq-select form-control" {{#if multiple}}multiple{{/if}}>
        {{#if empty}}
            <option>No dimensions available</option>
        {{/if}}
        {{#each options}}
            <option value="{{value}}" {{#if selected}}selected{{/if}} {{#if error}} disabled {{/if}}>
                {{label}}
            </option>
        {{/each}}
    </select>
{{else}}
    <!-- just display filter name -->
    <label class="squid-api-data-widgets-dimension-selector">{{name}}</label>
    <span>-</span>
{{/if}}
