/*
 * TableTools styles
 */

#squid-api-data-widgets-data-table table.many-columns {
	display: inherit;
	table-layout: inherit;
}

#squid-api-data-widgets-data-table table {
	color: #666;
  	background: #eaebec;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	-moz-box-shadow: 0 1px 2px #d1d1d1;
  	-webkit-box-shadow: 0 1px 2px #d1d1d1;
  	box-shadow: 0 1px 2px #d1d1d1;
  	overflow-x: auto;
  	width: 100%;
  	table-layout: fixed;
}

#squid-api-data-widgets-data-table table td {
	border-top: 1px solid #ffffff;
  	border-bottom: 1px solid #e0e0e0;
  	border-left: 1px solid #e0e0e0;
  	padding: 2px 3px;
  	font-size: 12px;
  	text-align: center;
}

#squid-api-data-widgets-data-table table tr {
	background: #fff;
	height: 45px;
}

#squid-api-data-widgets-data-table table tr.group {
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
}

#squid-api-data-widgets-data-table table tr.group .new-category {
	font-weight: bold;
}

#squid-api-data-widgets-data-table table thead th {
	border-left: 1px solid #e0e0e0;
	padding: 0px 10px 0px 10px;
	border-top: 1px solid #e0e0e0;
  	border-bottom: 1px solid #e0e0e0;
  	text-align: center;
	font-weight: normal
}

#squid-api-data-widgets-data-table .reactiveMessage {
	width: 100%;
	background: #f8f8f8;
	padding: 50px 0px;
	border: 1px solid #d1d1d1;
	font-size: 18px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

#squid-api-data-widgets-data-table .reactiveMessage i {
	font-size: 60px;
	color: #f8f8f8;
}

#squid-api-data-widgets-data-table .reactiveMessage span {
	display: inline-block;
	background: #fff;
	min-width: 250px;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 4px 12px 18px -14px;
}

/*
Footer
*/

#squid-api-data-widgets-data-table .footer {
	top: 20px;
	position: relative;
}

/*
Pagination
*/

.pagination ul {
	display: inline-block;
	padding: 0;
	margin: 0;
	color: #fff;
	word-spacing: -.5px;
	background: #d6dbdf;
	border-radius: 4px;
}

.pagination li {
	display: inline-block;
	margin-right: -3px;
	word-spacing: normal;
	vertical-align: middle;
}

.pagination li.active a,.pagination li.active span {
	color: #fff;
	background-color: #3498db;
	border-color: #dfe2e5;
}

.pagination li.active.previous a,.pagination li.active.previous span {
	margin: 0;
}

.pagination li.active.previous a,.pagination li.active.previous span,.pagination li.active.previous a:hover,.pagination li.active.previous span:hover,.pagination li.active.previous a:focus,.pagination li.active.previous span:focus,.pagination li.active.next a,.pagination li.active.next span,.pagination li.active.next a:hover,.pagination li.active.next span:hover,.pagination li.active.next a:focus,.pagination li.active.next span:focus {
	color: #fff;
	background-color: #3498db;
}

.pagination li:first-child a,.pagination li:first-child span {
	border-left: none;
	border-radius: 4px 0 0 4px;
}

.pagination li:first-child.previous+li a,.pagination li:first-child.previous+li span {
	border-left-width: 0;
}

.pagination li:last-child
	{
	margin-right: 0;
}

.pagination li:last-child a,.pagination li:last-child span,.pagination li:last-child a:hover,.pagination li:last-child span:hover,.pagination li:last-child a:focus,.pagination li:last-child span:focus {
	border-radius: 0 4px 4px 0;
}

.pagination li.previous a,.pagination li.previous span,.pagination li.next a,.pagination li.next span {
	min-width: auto;
	font-size: 16px;
	background-color: transparent;
	border-right: 2px solid #e4e7ea;
}

.pagination li.next a,.pagination li.next span {
	border-right: none;
}

.pagination li.disabled a,.pagination li.disabled span {
	color: #fff;
	cursor: not-allowed;
	background-color: rgba(255, 255, 255, 0.3);
	border-right-color: #dfe2e5;
}

.pagination li.disabled a:hover,.pagination li.disabled span:hover,.pagination li.disabled span:focus,.pagination li.disabled a:active,.pagination li.disabled span:active {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.4);
}

.pagination li a,.pagination li span {
	display: inline-block;
	min-width: 30px;
	height: 30px;
	padding: 6px 5px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	background: transparent;
	border: none;
	border-left: 2px solid #e4e7ea;
	outline: none;
	-webkit-transition: .25s ease-out;
	transition: .25s ease-out;
}

.pagination li a:hover,.pagination li a:focus,.pagination li a:active,.pagination li span:hover,.pagination li span:focus,.pagination li span:active {
	color: #fff;
	background-color: #3498db;
}

.pagination .btn-previous,.pagination .btn-next {
	padding-right: 23px;
	padding-left: 23px;
	margin-right: 8px;
	font-size: 14px;
	line-height: 1.429;
}

.pagination .btn-next {
	margin-right: 0;
	margin-left: 8px;
}