.squid-api-data-widgets-displaytype-selector {
	padding: 0px;
}

.squid-api-data-widgets-displaytype-selector li {
	display: inline-block;
	padding: 0px 20px 0px 10px;
	opacity: 0.3;
}

.squid-api-data-widgets-displaytype-selector li.active, .squid-api-data-widgets-displaytype-selector li:hover {
	opacity: 1;
}