<div class="orderby-container squid-api-data-widgets-orderby-widget">
	{{#if limit}}
		<div class="pull-left">
			<table>
				<tr>
					<td>
						<span style="font-size : 14px; padding-right: 5px; position: relative; top: 3px;">preview</span>
					</td>
					<td>
						<div class="onoffswitch">
			    			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{direction}}>
			    			<label class="onoffswitch-label" for="myonoffswitch">
			        			<span class="onoffswitch-inner"></span>
			       				 <span class="onoffswitch-switch"></span>
			    			</label>
						</div>
					</td>
					<td>
						&nbsp;
						<span style="font-size : 14px; font-weight: bold; padding-right: 5px; position: relative; top: 4px;">{{limit}}</span> <label style="position: relative; top: 4px; font-weight: normal;">by</label> <select class="sq-select form-control" style="display: inline-block; position: relative; bottom: 5px; max-width: 100px;">
						{{#each chosenMetrics}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
						</select>
					</td>
				</tr>
			</table>
		</div>
	{{/if}}
</div>