<div class="orderby-container">
	{{#if limit}}
	<div class="row-md-12 orderby-widget">
		<div class="col-md-4">
			<div class="onoffswitch">
    			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{direction}}>
    			<label class="onoffswitch-label" for="myonoffswitch">
        			<span class="onoffswitch-inner"></span>
       				 <span class="onoffswitch-switch"></span>
    			</label>
			</div>
		</div>
		<div class="col-md-4">
			{{limit}}
		</div>
		<div class="col-sm-2">
			<label class="records">Records</label>
		</div>
	</div>
	{{/if}}
</div>